.nav-drawer
  height: 100%
  background: rgb(34, 47, 62)
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5)
  position: fixed
  top: 0
  left: 0
  width: 60%
  max-width: 400px
  z-index: 200
  transform: translateX(-100%)
  transition: transform 0.3s ease-out

  @media (min-width: 750px)
    display: none

  ul
    height: 80%
    list-style: none
    display: flex
    flex-direction: column
    justify-content: center
    text-align: left
    @media (max-height: 575px)
      height: 90%

    li
      margin: 2rem 0
      a
        color: white
        text-decoration: none
        font-size: 1.2rem
        font-weight: 500
        &:hover, &:active
          color: rgb(138, 201, 38)
      
      .active
        color: rgb(138, 201, 38)
        &:hover, &:active
          color: rgb(138, 201, 38)

    @media(max-width: 400px)
      padding-left: 20px

.open
  transform: translateX(0)
