.list
    margin-bottom: 25px
    font-size: 20px

    button
        margin-bottom: 0

    a, button
        font-size: 20px
        color: #000
        &:hover
            color: rgb(255, 202, 58)
            transition: all .3s ease
    .bold
        font-weight: 500

.cover
    width: 250px
    height: 250px