.list
    text-align: left
    margin-left: 30px
    margin-bottom: 10px
    font-size: 20px

    .info
        display: inline-flex
        p
            margin: 0
            margin-top: 5px

    button
        text-align: left
        padding-left: 0
        margin-bottom: 0
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        width: 100%

    a, button
        font-size: 20px
        color: #fff
        &:hover
            color: rgb(255, 202, 58)
            transition: all .3s ease
    .bold
        font-weight: 500

.cover
    width: 250px
    height: 250px

.play
    color: #fff
    text-align: center
    text-decoration: none
    font-size: 24px
    font-weight: 600
    margin-right: 15px
    border-radius: 0.5rem