.album-grid
    display: inline-block
    width: 250px
    h3
        font-size: 18px
        margin-top: 5px
        margin-bottom: 0
    h5
        margin-top: 0

.album-cover2
    width: 220px
    height: 220px
    &:hover
        filter: brightness(50%)
        transition: all .3s ease

.album-name
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 95%