.artist
    display: inline-block
    width: 350px
    margin-bottom: 25px
    
    span
        font-size: 20px
        color: #fff
        
        .bold
            font-weight: 500
        
        img
            object-fit: cover
            border-radius: 50%
            margin-top: 30px
            &:hover
                filter: brightness(50%)
                transition: all .3s ease
    
    .pic
        width: 250px
        height: 250px