h1
    font-weight: 500
    @media(max-width: 750px)
        font-size: 1.5rem
        padding-bottom: 10px

h2
    margin: 0 auto
    width: 80%
    font-weight: 400
    @media(max-width: 750px)
        font-size: 1rem

button
    border: none
    background: none

.links
    text-align: left