.navbar
    position: fixed
    z-index: 999
    top: 0
    left: 0
    width: 100%
    background: #000
    height: 60px
    text-align: left

.navbar-nav
    display: flex
    align-items: center
    height: 100%
    padding: 0 1rem

.navbar-logo
    img
        width: 30px
        height: auto
    a
    color: #fff
    text-decoration: none
    font-weight: 600
    font-size: 1.5rem
    @media(max-width: 600px)
        font-size: 0rem

.navbar-nav-items
    ul
        list-style: none
        margin: 0
        padding: 0
        display: flex
    
    li
        padding: 0 0.5rem
    
    .active
        color: rgb(255, 202, 58)

    a
        font-weight: 600
        font-size: 1.25rem
        color: #fff
        text-decoration: none
        &:hover, &:active
            color: rgb(255, 202, 58)
        @media(max-width: 600px)
            font-size: 1rem
.spacer
    flex: 1
