.navbar
    position: fixed
    z-index: 999
    top: 0
    left: 0
    width: 100%
    background: #000
    height: 60px
    text-align: right

.navbar-nav
    display: flex
    justify-content: flex-end
    align-items: center
    height: 100%
    padding: 0 1rem

    @media(min-width: 750px)
        .toggle-button
            display: none
    @media(max-width: 750px)
        justify-content: space-between

.navbar-logo
    color: #fff
    font-weight: 400
    font-size: 1.3rem
    display: flex
    div
        p
            margin: 0
        .logout
            font-size: 1rem
        a
            color: #fff
            &:hover, &:active
                color: rgb(255, 202, 58)

    .profilePic
        object-fit: cover
        border-radius: 50%
        height: 45px
        width: 45px
        margin-left: 20px
        border: 2px solid rgb(138, 201, 38)