.playlist-grid
    display: inline-block
    width: 250px
    margin: 10px 10px
    h3
        font-size: 18px
        margin-top: 5px
        margin-bottom: 0

.playlist-cover
    width: 225px
    height: 225px
    &:hover
        filter: brightness(50%)
        transition: all .3s ease

button
    color: #fff
    font-size: 18px
    font-weight: 600
    margin-top: 5px
    margin-bottom: 30px
    &:hover
        color: rgb(138, 201, 38)
        transition: all .3s ease

.playlist-name
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 100%