.playlist-grid
    display: inline-block
    width: 350px

.playlist-cover
    width: 245px
    height: 245px
    &:hover
        filter: brightness(50%)
        transition: all .3s ease

button
    color: #fff
    font-size: 18px
    font-weight: 600
    margin-top: 5px
    margin-bottom: 30px
    &:hover
        color: rgb(255, 202, 58)
        transition: all .3s ease

.playlist-name
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 100%

.playlist-grid-2
    display: inline-block
    width: 200px

.playlist-cover-2
    width: 175px
    height: 175px