.track
    display: inline-block
    width: 350px
    margin-bottom: 25px
    font-size: 20px

    button
        margin-bottom: 0

    a, button
        font-size: 20px
        color: #000
        &:hover
            color: rgb(255, 202, 58)
            transition: all .3s ease
        img
            &:hover
                filter: brightness(50%)
                transition: all .3s ease
    .bold
        font-weight: 500

    .pic
        width: 70%